p, h1, h2, h3, h4, h5 {
  -webkit-user-select: text; }

body {
  font-family: BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif; }

.nav-group {
  padding-top: 10px; }

.preferences, .status {
  padding: 5px 10px; }
  .preferences .setting-form, .status .setting-form {
    width: 200px; }
  .preferences select:disabled, .status select:disabled {
    background-color: lightgray; }
  .preferences .error, .status .error {
    color: red; }
  .preferences .notification-close-window, .status .notification-close-window {
    position: fixed;
    bottom: 15px;
    right: 27px; }

.about {
  padding: 5px 10px;
  overflow: hidden;
  font-size: 16px;
  -webkit-user-select: none; }
  .about .intro-warpper {
    width: 500px;
    height: 150px;
    padding-top: 5px; }
    .about .intro-warpper .intro-warpper-inner-left {
      width: 150px;
      float: left;
      height: 100%; }
      .about .intro-warpper .intro-warpper-inner-left .main-logo {
        width: 140px;
        height: 140px; }
    .about .intro-warpper .intro-warpper-inner-right {
      height: 100%;
      padding-top: 0px; }
