<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>DR Desktop App</title>

    <link rel="stylesheet" href="../assets/stylesheets/photon/css/photon.css">
    <link href="../assets/stylesheets/css/main.css" rel="stylesheet" type="text/css">

    <script src="../lib/external-links.js"></script>

    <script src="../main/windows/options.js"></script>
</head>
<body>
<div class="window">

    <div class="window-content">
        <div class="pane-group">
            <div class="pane pane-sm sidebar">
                <nav class="nav-group">
                    <h5 class="nav-group-title">Manager</h5>
              <span class="nav-group-item" id="status-menu-item" data-manager-pane-id="status-pane">
                <span class="icon icon-info"></span>
                Status
              </span>
              <span class="nav-group-item" id="settings-menu-item" data-manager-pane-id="settings-pane">
                <span class="icon icon-tools"></span>
                Settings
              </span>

                </nav>
            </div>

            <div class="pane">
                <div class="container">
                    <div id="status-pane" class="manager-pane" >
                        <h3>
                            <span class="icon icon-check"></span>
                            Running
                        </h3>
                    </div>
                    <div id="settings-pane" class="manager-pane" style="display: none;">
                        <div class="setting-form">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="limited-activity"> Active all day long
                                </label>
                            </div>
                            <div class="form-group error" id="end-time-error" style="display: none">
                                <label>End time can not be equal or smaller than start time</label>
                            </div>
                            <div class="form-group">
                                <label>Start Time</label>
                                <select class="form-control" id="limited-activity-start-time" disabled="disabled">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>End Time</label>
                                <select class="form-control" id="limited-activity-end-time" disabled="disabled">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24" selected="selected">24</option>
                                </select>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="run-at-start-up"> Run when computer starts up
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
